/*  your css code here. If applicable */
#yellow{
	border-width:1px;
	border-color:green;
	border-style:solid;
	background-color:yellow;
}

#red{
	border-width:1px;
	border-color:black;
	border-style:solid;
	background-color:red;
}

#green{
	border-width:1px;
	border-color:yellow;
	border-style:solid;
	background-color:green;
}